<h1>Listing Assets</h1>
<table>
  <tr>
    <th>Uploaded Files</th>
  </tr>
  <% @assets.each do | asset | %>
    <tr>
      <td><%= link_to asset.uploaded_file_file_name, download_url(asset) %></td>
      
      <td><%= link_to "Show", project_asset_path %></td>
      <td><%= link_to "Edit", edit_project_asset_path(@project.id, asset) %></td>
      <td><%= link_to "Destroy", project_asset_path, :confirm => 'Are you sure?', :method => :delete %></td>
      <p>
        .
      </p>
    </tr>
  <% end %>
</table>
<p><%= link_to "New Asset", new_project_asset_path(@project.id) %></p>
